*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* INDEX.HTML */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(28, 184, 223);
    min-height: 20vh;
}

.header a img{
    width: 150px;
}

.nav ul{
    display: flex;
    list-style: none;
    width: 400px;
    justify-content: space-around;
}

.nav ul a{
    text-decoration: none;
    color: white;
    font-weight: bold;

}

.main{
    min-height: 70vh;
}

.main-index{
    display: flex;
    flex-wrap: wrap;
    margin: 2%;

}

main img{
    max-width: 500px;
  
}



.footer{
    background-color: rgb(240, 83, 245);
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS→PRODUCTOS */

.nav-productos ul{
    display: flex;
    text-decoration: none;
    font-weight: bold;
    list-style: none;
    justify-content: space-around
    
}

.flex-padre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.flex-padre img{
    height: 120px;

}



/* CSS→PREGUNTAS */

.main{
    min-height: 70vh;
    text-align: center;
}



.seccion-1{
    background-color: black !important;
    color: white;
}


.small:hover{
    color: red;
    border-radius: 15px;
}

.pulgar{
    display: flex;
    justify-content: center;
    height: 350px;
    margin: 20px;
    text-align: center;
}


/* CSS→NOSOTROS */

.main{
    min-height: 70vh;
}

.btn-prueba{
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 6px 7px 6px rgb(red, green, blue) inset;
}.btn-prueba :hover{
    transform: scale(1.05);
    transition: 2s transform, 3s color;
    animation-name: agrandar;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}



/* CSS→CONTACTO */




@media (max-width:619px) {
    .header{
        justify-content: center;
    }
    .nav ul{
        width: 350px;
    }
}